[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Name=HeliumMobile
Exec=/usr/bin/invoker --type=d -s /usr/local/bin/helium-mobile-browser -r 7
Icon=/usr/share/icons/hicolor/80x80/apps/heliumicon.png
X-Window-Icon=
X-HildonDesk-ShowInToolbar=true
X-Osso-Type=application/x-executable
